body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {

    font-size: 60px;
    color: brown;
}

#container {
    border: solid 3px black;
    height: 720px;
    width: 720px;
    display: flex;

}